<div class="row">
  <%= form_tag products_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>

  <% @products.each do |product| %>
    <div class="col-md-2">
      <div class="product">
          <a href="/products/<%= product.id %>">
            <%= image_tag product.picture_url(:thumb) if product.picture.present? %>
          </a>
          <h5><%= link_to product.product_name, product %></h5>
      </div>
    </div>
  <% end %>
</div>
<% end %>
    