<div class="col-md-6 col-md-offset-3">
  <div class="new-product-form">

    <h1>Editing Product</h1>

      <%= simple_form_for @product do |f| %>
          <p>Company: <%= f.collection_select :company_id, current_user.companies, :id, :company_name %> </p></br>
          <%= f.input :product_name %>
          <%= f.input :category_id, collection: @categories %>
          <%= f.input :brand %>
          <%= f.input :picture %>
          <%= f.input :price %>
          <%= f.input :stock %>
          <%= f.input :descrption %>
          <%= f.input :status_id, collection: @statuses %>
          <%= f.submit %>
        <% end %>
        
      <%= link_to 'Show', @product, class:"btn btn-xs btn-primary" %>
      <%= link_to 'Back', products_path, class:"btn btn-xs btn-success"%>
  </div>
</div>